@use 'variables' as variables;

@mixin grid {
  display: -ms-grid;
  display: grid;
  grid-gap: variables.$small-grid-gap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  > * {
    width: 100%;
  }
}
@mixin background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@mixin inner {
  @include grid;
  grid-gap: variables.$big-grid-gap;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto variables.$small-grid-gap auto;
  grid-template-rows: auto auto;
  width: clamp(300px, 80vw, 600px);
  margin: 0 auto;
  padding: clamp(variables.$small-grid-gap, 10vw, variables.$big-grid-gap);
  -webkit-filter: drop-shadow(0px 0px 10px variables.$color-secondary);
  filter: drop-shadow(0px 0px 10px variables.$color-secondary);
  background-color: variables.$color-primary;
  border-radius: 30px;
  max-width: 100vw;
  overflow: hidden;
  min-height: 600px;
}
@mixin container {
  @include grid;
  @include background;
  display: none;
  padding: clamp(20px, 10vw, 50px);

  .background {
    @include background;
    background-color: variables.$color-primary;
  }

  .content {
    @include grid;
    position: relative;
  }
}
@mixin item {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: variables.$small-border;
  cursor: pointer;
  background-color: variables.$color-primary;
  position: relative;

  &.error {
    p {
      color: variables.$color-error;
    }

    &:hover {
      p {
        color: variables.$color-secondary;
      }
    }
  }

  &:hover,
  &.hover {
    background-color: variables.$color-tertiary;
  }

  &.set {
    background-color: variables.$color-tertiary;

    &:hover {
      background-color: variables.$color-tertiary;

      p {
        color: variables.$color-secondary;
      }
    }

    .content {
      display: -ms-grid;
      display: grid;
    }
  }

  &.highlight {
    p {
      color: variables.$color-success;
    }

    &:hover {
      p {
        color: variables.$color-success;
      }
    }
  }

  p {
    color: variables.$color-secondary;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
@mixin button {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  border: variables.$small-border;
  outline: unset;
  padding: 0.5em 1em;

  &:hover {
    background-color: variables.$color-tertiary;
  }
}
