@use 'variables' as variables;

@mixin grid {
  display: grid;
  grid-gap: variables.$small-grid-gap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
@mixin background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@mixin item {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: variables.$small-border;
  cursor: pointer;
  background-color: variables.$color-primary;
  position: relative;

  &.error {
    p {
      color: variables.$color-error;
    }

    &:hover {
      p {
        color: variables.$color-secondary;
      }
    }
  }

  &:hover,
  &.hover {
    background-color: variables.$color-tertiary;
  }

  &.set {
    background-color: variables.$color-tertiary;

    &:hover {
      background-color: variables.$color-tertiary;

      p {
        color: variables.$color-secondary;
      }
    }

    .content {
      display: grid;
    }
  }

  &.highlight {
    p {
      color: variables.$color-success;
    }

    &:hover {
      p {
        color: variables.$color-success;
      }
    }
  }

  p {
    color: variables.$color-secondary;
    user-select: none;
  }
}
